.bgtransparan{
background-color: rgba(245, 245, 245, 0.459);
}

.bg-external-1 {
  background-image: url(../html/logofti.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bgaqua {
  background-color: #04bdbf;
}
.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.aquatico{
font-family : aquatico;
}

.kusanagi{
  font-family : kusanagi;
}

.cheorcy{
  font-family :cheorcy;
}

.aquire{
  font-family :aquire;
}
